<nav class="navbar">
    <img class="logo" src="./assets/logoName.png" width="250px" height="55px">
    <div class="right">
        <a><b>Home</b></a>
        <a (click)="scrollPoint()"><b>About Us</b></a>
        <button class="btn">Login</button>
        <button class="btn">Register</button>
    </div>
</nav>
<div class="main">
    <div class="text">
        <h1 class="quote">
            Connecting <br>
            Medicos <br>
            Connecting <br>
            Lives
        </h1><br>
        <p>
            Streamlining Medical Equipment Management.<br>
            Effortless track, maintain, and allocate <br>
            medical equipment across healthcare facilites. <br>
            Connect hospital,  maintenance teams, andsuppliers <br>
            for seamless healthcare delivery.
        </p>
    </div>
    <div>
        <img class="img" src="./assets/doctors.png" width="450px" height="450px">
    </div>
</div>